/* html,
body {
	height: 100%;
} */
body,
html {
  margin: 0;
}

body {
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 80px auto;
  padding-bottom: 80px;
  width: 80%;
  max-width: 1200px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

input[type="file"]::file-selector-button,
.button {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  border-radius: 0.2em;
  background-color: white;
  color: black;
  transition: 0.5s;
  margin-bottom: 10px;
}

input[type="file"]::file-selector-button:hover,
.button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.button:disabled,
.button:disabled:hover {
  color: gray;
  background-color: white;
  cursor: not-allowed;
  pointer-events: auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.instructions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.instructions p {
  width: 30%;
  color: gray;
}

.loading-label {
  color: gray;
  visibility: hidden;
}

.instruction-right {
  text-align: right;
}

.chart-options-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.chart {
  min-width: 500px;
  min-height: 500px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.error-message {
  color: red;
}

.image-inputs-panel {
  display: flex;
  width: 100%;
  gap: 30px;
}

.inputs-panel {
  width: 100%;
}

.inputs-panel {
  display: flex;
  flex-direction: column;
}

.input-image {
  width: 300px;
  height: 100%;
  margin-left: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.chart-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.chart-instruments-form {
  display: flex;
  align-items: center;
  gap: 30px;
}

.chart-instruments-form-options {
  display: flex;
  gap: 20px;
}

.chart-instruments-form-options > .input-wrapper {
  border: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radio-with-label {
  display: flex;
  gap: 5px;
  justify-items: center;
}

.export-csv {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.curves {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  align-items: center;
}

.curves button {
  margin: 0;
}

.plot-error {
  width: 100%;
  text-align: center;
}
